## Project 1 Step 1 CIK Lookup
In this notebook, we will mainly do the followings:
- Read the S&P500 constituents data
- Read the sp500_w_addl_id file with CIKs
- Output list of permno to look up CIK on WRDS
- Read CIK_lookup_results data downloaded from WRDS and save all CIKs for future reference

In [ ]:
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings("ignore")

In [ ]:
data_path = "./data/"
sp500_constituents_path = "sp500_constituents.csv"
sp500_id_path = "sp500_w_addl_id.csv"

#### Read the S&P500 constituents data. Each row provides the start and end dates that the corresponding permno was on the S&P500 list

In [ ]:
sp500_constituents = pd.read_csv(os.path.join(data_path, sp500_constituents_path))

In [ ]:
sp500_constituents

      Unnamed: 0   permno       start      ending
0              0  10006.0  1957-03-01  1984-07-18
1              1  10030.0  1957-03-01  1969-01-08
2              2  10049.0  1925-12-31  1932-10-01
3              3  10057.0  1957-03-01  1992-07-02
4              4  10078.0  1992-08-20  2010-01-28
...          ...      ...         ...         ...
2010        2010  93159.0  2012-07-31  2016-03-29
2011        2011  93246.0  2021-03-22  2022-03-31
2012        2012  93422.0  2010-07-01  2015-06-30
2013        2013  93429.0  2017-03-01  2022-03-31
2014        2014  93436.0  2020-12-21  2022-03-31

[2015 rows x 4 columns]

#### Read the `sp500_w_addl_id` file with CIKs

In [ ]:
sp500_w_addl_id = pd.read_csv(os.path.join(data_path, sp500_id_path))

In [ ]:
sp500_w_addl_id

,Unnamed: 0,date,permno,comnam,ncusip,shrcd,exchcd,hsiccd,ticker,gvkey,iid,start,ending,ret
0,0,2011-01-31,60986.0,NEWELL RUBBERMAID INC,65122910,11.0,1.0,3089.0,NWL,7875,01,1989-04-27,2022-03-31,0.058856
1,1,2011-01-31,85914.0,BEST BUY COMPANY INC,08651610,11.0,1.0,5731.0,BBY,2184,01,1999-06-30,2022-03-31,-0.008457
2,2,2011-01-31,80711.0,APARTMENT INVESTMENT & MGMT CO,03748R10,18.0,1.0,6798.0,AIV,30490,01,2003-03-14,2020-12-18,-0.010836
3,3,2011-01-31,59176.0,AMERICAN EXPRESS CO,02581610,11.0,1.0,6141.0,AXP,1447,01,1976-07-01,2022-03-31,0.014912
4,4,2011-01-31,75100.0,TIFFANY & CO NEW,88654710,11.0,1.0,5944.0,TIF,13646,01,2000-06-21,2021-01-06,-0.066485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66113,81565,2021-12-31,83143.0,IRON MOUNTAIN INC NEW,46284V10,18.0,1.0,4226.0,IRM,62374,1,2009-01-06,2022-03-31,0.165240
66114,81566,2021-12-31,76605.0,AUTOZONE INC,05333210,11.0,1.0,5531.0,AZO,23809,1,1997-01-02,2022-03-31,0.153720
66115,81567,2021-12-31,60097.0,MEDTRONIC PLC,G5960L10,12.0,1.0,3845.0,MDT,7228,1,1986-10-23,2022-03-31,-0.024555
66116,81568,2021-12-31,27828.0,H P INC,40434L10,11.0,1.0,3571.0,HPQ,5606,1,1974-10-17,2022-03-31,0.074830
66117,81569,2021-12-31,11600.0,DENTSPLY SIRONA INC,24906P10,11.0,3.0,3840.0,XRAY,13700,1,2008-11-14,2022-03-31,0.146902

In [ ]:
sp500_w_addl_id["iid"].nunique()

13

In [ ]:
sp500_w_addl_id["permno"].nunique()

727

#### Output list of permno to look up CIK on WRDS

In [ ]:
# output list of permno to look up CIK on WRDS
permno_list = list(sp500_w_addl_id["permno"].unique())

In [ ]:
file_name = "PERMNO_code_CIK_lookup.txt"
file_obj = open(file_name, "a")
for permno in permno_list:
    file_obj.write(str(int(permno)))
    file_obj.write("\n")
file_obj.close()

In [ ]:
# Checked output txt file that we have 727 entries

#### Read `CIK_lookup_results` data downloaded from WRDS and save all CIKs for future reference

In [ ]:
# Open query result and save all CIKs for future reference
cik_results = pd.read_csv("CIK_lookup_results.csv")

In [ ]:
cik_results.head()

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,conm,tic,...,ipodate,dldte,STKO,FYRC,GSECTOR,GGROUP,GIND,GSUBIND,SPCINDCD,SPCSECCD
0,1045,P,04,LC,21020,20010,2013/12/09,E,AMERICAN AIRLINES GROUP INC,AAL,...,NaN,NaN,0,12,20.0,2030.0,203020.0,20302010.0,605,600
1,1045,P,01,LC,21020,20010,1962/01/31,2012/01/04,AMERICAN AIRLINES GROUP INC,AAL,...,NaN,NaN,0,12,20.0,2030.0,203020.0,20302010.0,605,600
2,1045,C,00X,LC,21020,20010,1950/01/01,1962/01/30,AMERICAN AIRLINES GROUP INC,AAL,...,NaN,NaN,0,12,20.0,2030.0,203020.0,20302010.0,605,600
3,1075,P,01,LU,27991,21409,1962/01/31,E,PINNACLE WEST CAPITAL CORP,PNW,...,NaN,NaN,0,12,55.0,5510.0,551010.0,55101010.0,705,700
4,1078,C,00X,LC,20482,20017,1950/01/01,1962/01/30,ABBOTT LABORATORIES,ABT,...,NaN,NaN,0,12,35.0,3510.0,351010.0,35101010.0,280,905

In [ ]:
cik_results.columns

Index(['GVKEY', 'LINKPRIM', 'LIID', 'LINKTYPE', 'LPERMNO', 'LPERMCO', 'LINKDT',
       'LINKENDDT', 'conm', 'tic', 'cusip', 'cik', 'sic', 'naics', 'EIN',
       'COSTAT', 'DLRSN', 'PRIUSA', 'PRICAN', 'PRIROW', 'IDBFLAG', 'FIC',
       'LOC', 'INCORP', 'STATE', 'COUNTY', 'CITY', 'CONML', 'WEBURL', 'PHONE',
       'FAX', 'ADD1', 'ADD2', 'ADD3', 'ADD4', 'ADDZIP', 'BUSDESC', 'ipodate',
       'dldte', 'STKO', 'FYRC', 'GSECTOR', 'GGROUP', 'GIND', 'GSUBIND',
       'SPCINDCD', 'SPCSECCD'],
      dtype='object')

In [ ]:
cik_results[["cik"]]

           cik
0       6201.0
1       6201.0
2       6201.0
3     764622.0
4       1800.0
..         ...
873  1526520.0
874  1138118.0
875  1279363.0
876  1489393.0
877  1579241.0

[878 rows x 1 columns]

In [ ]:
cik_results[["cik"]].nunique()

cik    726
dtype: int64

There are 726 unique CIKs.

In [ ]:
cik_results[["conm", "cik", "tic", "LPERMNO", "LINKDT", "LINKENDDT"]]

,conm,cik,tic,LPERMNO,LINKDT,LINKENDDT
0,AMERICAN AIRLINES GROUP INC,6201.0,AAL,21020,2013/12/09,E
1,AMERICAN AIRLINES GROUP INC,6201.0,AAL,21020,1962/01/31,2012/01/04
2,AMERICAN AIRLINES GROUP INC,6201.0,AAL,21020,1950/01/01,1962/01/30
3,PINNACLE WEST CAPITAL CORP,764622.0,PNW,27991,1962/01/31,E
4,ABBOTT LABORATORIES,1800.0,ABT,20482,1950/01/01,1962/01/30
...,...,...,...,...,...,...
873,TRIPADVISOR INC,1526520.0,TRIP,13168,2011/12/21,E
874,CBRE GROUP INC,1138118.0,CBRE,90199,2004/06/10,E
875,WELLCARE HEALTH PLANS INC,1279363.0,WCG,90272,2004/07/07,2020/01/31
876,LYONDELLBASELL INDUSTRIES NV,1489393.0,LYB,12345,2010/10/14,E
877,ALLEGION PLC,1579241.0,ALLE,14297,2013/12/02,E

In [ ]:
cik_results[["conm", "cik", "tic", "LPERMNO", "LINKDT", "LINKENDDT"]].to_csv("CIK_lookup_results_cleaned.csv", 
                                                                             header=True, index=False)